.po{
    width:100vw;
    height:10vh;
    background-color: green;
}
.e{
    display:flex;
    flex-wrap: wrap;
    background-color: yellow;
}
.e >div{
    background-color: turquoise;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.yyt{
    display:flex;
    justify-content: center;
    text-align: center;
}
.op{
    justify-content: center;
    text-align:center;
} 
.ou{
    padding:20px;
}
#tg{
    width:60vw;
    justify-content: center;
    text-align: center;
    background-position: center;
}
.t{
    justify-content:center;
    text-align: center;
    padding:10px;
}