.background_pic
{
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(0,226,250,1) 0%, rgba(204,240,245,1) 100%);
    height: 80vh;
    width:100%;
}
.headline{
    display: flex;
    justify-content: center;
}
.headline>h3{
    font-size: 1.5rem;
    margin-top:10px;
}
.oj{
    display:flex;
    justify-content: center;
    text-align: center;
    margin:10px;
    flex-wrap: wrap;
    font-size:1.5vw;
    margin-top:40px;
  }
.gallery{
    text-align: center;
    margin-bottom:5px;
  }
  .gallery_line{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 5px;
  }
  .gallery_line>div{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(32,173,219,1) 100%, rgba(0,76,92,1) 100%);
    height: 4px;
    width:120px;
  }
  .hmm{
      text-align: center;
  }
  .why_us_heading{
    text-align: center;
    margin-top:15px;
}
.why_us_underline{
    background: rgba(0,212,255,1);
    align-items: center;
    height:5px;
    width:150px;
    margin-left:45.5%;
    border-radius: 5px;
}
.why_us{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top:10px;
    flex-wrap: wrap;
}
.why_us >div{
    margin:20px;
    background-color: rebeccapurple;
}
.card{
   
    box-shadow: 10px 10px 8px 10px #e6e6e6;
}
.other{
    display: flex;
    justify-content: center;
}