body{
    background: rgb(86,118,221);
    background: linear-gradient(90deg, rgba(86,118,221,1) 3%, rgba(86,118,221,1) 4%, rgba(86,118,221,1) 25%, rgba(105,133,223,1) 34%, rgba(241,241,241,1) 100%, rgba(0,76,92,1) 100%);
    height: 100vh;
    width: 100%;
}
.booking-form-box{
    max-width:350px;
    border:1px solid #ced4da;
    margin:10% auto 0;
    border-radius: 5px;
}
.radio-btn{
    margin:0 20px;
}
.radio-btn .btn{
    margin:20px 10px 20px 0;
    box-shadow: none;
}
.radio-btn .btn::after{
    content:'';
    width:15px;
    top:-2px;
    left:-1px;
    /*background-color: white;*/
    position: relative;
    display:inline-block;
    border-radius:3px solid #fff;
    visibility: visible;
    border-radius: 50%;
}
.radio-btn .btn:checked::after{
    content:'';
    background-color: #000;
    transition:0.5s;
}
.radio-btn span{
    /*color:#fff;*/
    margin-right:5px;
    font-size:12px;
}
.booking-form{
    padding:0 20px 20px;
}
.booking-form >label{
    margin-bottom:5px;
    margin-top:10px;
    font-size:12px;
    /*color:#fff;*/
}
input::placeholder{
    color:#fff !important;
}
.input-grp{
    width:151px;
    display: inline-block;
}
.form-control{
    font-size:12px;
    border-radius:0;
    color:#fff;
    box-shadow: none;
}
.bt{
    align-items: center;
    margin-top: 5px;
}
.select-date::-webkit-inner-spin-button,
.select-date::-webkite-outer-spin-button{
    -webkit-appearance:none;
    margin:0;
}